extends layout

block content

  h1= title
  p Welcome to #{title}

  nav  
    ul
      li
        a(href='/') Home
      if user 
        li
          a(href='/post') New Post
        if !member
          li 
            a(href='/membership') Become a Member
        if !admin
          li 
            a(href='/admin') Become an Admin
        li
          a(href='/log-out') Log Out
      else 
        li 
          a(href='/register') Register
        li 
          a(href='/login') Login
  
  div.posts
    for post in posts 
      div.post(class=post.color)
        div.text
          p.title= post.title 
          p.body= post.body 

        div.info
          if user && member
            span Posted on
            | &nbsp
            p.date-posted= post.datePosted
            | &nbsp
            span by
            | &nbsp
            p.username= post.username
        if admin
          a.delete-post(href=`/delete-post/${post._id}`)
            span.material-symbols-outlined delete
